$orange: #EA8024;
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	transition: .3s;
	&.black{
		width: 100%;
		background: white;
	}
	&_left {
		width: 100%;
		padding: 1vh;
		height: 8vh;
		& .logo {
			display: inline-block;
			height: 8vh;
			transition: .3s;
		}
		& a {
			text-decoration: none;
			display: inline-block;
			line-height: 8vh;
			height: 8vh;
			font-size: 5vh;
			font-family: 'Josefin Sans', sans-serif;
			text-transform: uppercase;
			color: black;
			vertical-align: top;
			margin: 0;
			padding: 0;
			&:hover{
				color:$orange;
			}
		}
	}
}
header {
	width: 100%;
	height: 50vh;
	background-image: url('../images/menu_banner.jpg');
	background-size: cover;
	background-position: left center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
	.subheading {
		position: absolute;
		height: 6vh;
		width: 100%;
		top: 44vh;
		padding: 0;
		z-index: -1;
		& > a {
			text-decoration: none;
			font-size: 3.5vh;
			color: black;
			font-family: 'Josefin Sans', sans-serif;
			display: inline-block;
			padding: 0 1vh;
		    height: 6vh;
		    line-height: 6vh;
		    vertical-align: middle;
		    &:hover {
				color: $orange;
			}
		}
	}
	.sticky {
		width: 100%;
	    position: fixed;
	    top: 10vh;
	    background-color: white;
	}
	.subnav{
		display: inline-block;
		top: 0;
		left: 10vw;
		line-height: 6vh;
		padding: 0;
		margin: 0;
		& ul {
			list-style: none;
			display: flex;
		    margin: 0;
		    padding: 0;
		    & li {
				padding:0 1vh;
				& a {
					text-decoration: none;
					color: black;
					font-family: 'Roboto', sans-serif;
					&:hover {
						color:$orange;
					}
				}
			}
		}
	}
}



















