body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: white; }
  body .landing {
    height: 100vh;
    background-image: url("../images/homepage_bg.jpg");
    background-size: auto 100vw;
    background-repeat: no-repeat; }
    body .landing .logo {
      position: absolute;
      max-height: 10vh;
      left: 2vh;
      bottom: 2vh; }
    body .landing header h1 {
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      font-size: 60px;
      position: absolute;
      bottom: 10vh;
      left: 2vh; }
    body .landing .toggle {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: white;
      cursor: pointer;
      z-index: 100; }
      body .landing .toggle:before {
        content: '+';
        font-family: serif;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 50pt;
        width: 100%;
        height: 100%;
        color: black;
        text-align: center;
        line-height: 50px;
        transition: 0.5s; }
      body .landing .toggle.active:before {
        transform: rotate(405deg);
        background: black;
        color: white;
        border-radius: 50%; }
    body .landing .overlay {
      position: fixed;
      top: 20px;
      right: 20px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: white;
      transition: transform 0.5s;
      z-index: 97; }
      body .landing .overlay.active {
        transform: scale(100, 100); }
    body .landing nav {
      width: 100%;
      height: 100%;
      overflow: auto;
      z-index: 99;
      visibility: hidden; }
      body .landing nav.active {
        visibility: visible;
        transition-delay: 0.3s; }
      body .landing nav ul {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        z-index: 97; }
        body .landing nav ul li {
          list-style: none; }
          body .landing nav ul li a {
            position: relative;
            font-size: 30px;
            text-decoration: none;
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            text-transform: uppercase;
            color: black;
            margin: 50px 0;
            display: block;
            text-shadow: 0 2px 5px rgba 0, 0, 0, 0.5; }
            body .landing nav ul li a:before {
              content: '';
              position: absolute;
              bottom: -2vh;
              left: -10px;
              width: 110%;
              height: 20px;
              background: #EA8024;
              z-index: 96;
              transform: scaleX(0);
              transform-origin: left;
              transition: transform 0.5s; }
            body .landing nav ul li a:hover:before {
              transform: scaleX(1); }
  body main {
    padding: 20vh; }
    body main h1 {
      font-family: 'Josefin Sans', sans-serif;
      text-align: center; }
    body main p {
      text-align: justify; }
  body footer {
    background-color: lightgray;
    width: 100%;
    z-index: -100;
    padding-bottom: 0;
    display: flex;
    flex-direction: column; }
    body footer img {
      display: block;
      margin: 2vh auto;
      padding-top: 3vh;
      height: 25vh; }
    body footer h1 {
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      text-transform: uppercase;
      line-height: 90%; }
    body footer p {
      color: black;
      margin: 10vh 0;
      text-align: center;
      color: black; }
    body footer .subfooter {
      font-size: 8pt;
      padding: 0;
      margin: 0;
      display: inline-block;
      height: 10vh;
      line-height: 10vh;
      opacity: 0.5;
      width: 100%;
      background: black;
      color: white; }
  @media only screen and (max-device-width: 768px) {
    body img {
      max-height: 20vh; }
    body h1 {
      font-size: 16pt; } }
  @media only screen and (max-device-width: 425px) {
    body img {
      max-height: 15vh; }
    body h1 {
      font-size: 12pt; } }

@media only screen and (max-device-width: 768px) {
  body .landing {
    background-size: cover; }
  body main {
    padding: 10vh; } }
@media only screen and (max-device-width: 425px) {
  body .landing header h1 {
    font-size: 24pt; }
  body main {
    padding: 5vh; } }

/*# sourceMappingURL=homepage.css.map */
