$orange: #EA8024;
body, h1, h2, p{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: white;
	max-width: 100%;
	overflow-x: hidden;
	@import 'navbar';
	@import 'header';
	.main {
		position: absolute;
		top: 50vh;
		display: flex;
		flex-direction: column;
		width: 100%;
		section{
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: 5vh 5vh 5vh auto 5vh;
			.title {
				z-index: 1;
				grid-column: 3/9;
				grid-row: 2/4;
			    background-color: $orange;
			    color: white;
			    padding: 5vh;
			    h1{
			    	font-family: 'Josefin Sans', sans-serif;
					font-size: 5vh;
			    	}
				}
			.content {
				z-index: 0;
				grid-column: 2/12;
				grid-row: 3/5;
			    padding: 50px 20px;
			    background-color: #DDE6ED;
			    a{
					text-decoration: none;
				}
			    h2{
			    	padding-top: 5vh;
			    }
			    p{
			    	padding: 1vh 2vh;
			    }
			    p + ul, ol{
			    	margin-top: -8px;
			    }
			    .photo{
			    	max-width: 50vw;
			    	height: auto;
			    	margin: 0 auto;
			    	display: block;
						img{
						max-width: 100%;
						height: auto;
					}
			    }
				}
		}
		@import 'footer';
	}

}
@media only screen and(max-width: 815px) {
	.subnav {
		visibility: hidden;
	}
}
